/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/out/2020, 15:08:39
    Author     : Ruben Amorim
*/


/**/
/**/
/**/
/*Menus*/
#menus{
    -fx-background-color:white;
}

/**/
/**/
/**/
/*Fundos*/
#fundo{    
    -fx-background-color: white; 
}

#bPane{

}

#fundoBranco{
    -fx-text-fill: black;
    -fx-background-color:transparent;
    -text-area-background:transparent;
    -fx-border-color:lightgray;
    -fx-control-inner-background: transparent;
    -fx-text-alignment: center ;
    -fx-prompt-text-fill:grey;
}
/**/
/**/
/**/
/*Botões*/
#botoesMenus{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-border-color:lightgray;
    -fx-text-fill:black;
}
#botoesMenus:hover{
    -fx-background-color: lightgrey;
}



#outrosBotoes{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-text-fill:white;
    -fx-font:Impact;
    -fx-text-fill:black;

}
#outrosBotoes:hover{
    -fx-background-color: lightgrey;
}
#botaoVbox{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-text-fill:white;
    -fx-font:Impact;
    -fx-text-fill:black
}
#botaoVbox:hover{
    -fx-background-color: lightgrey;
}

#botaoVboxChangeCollour{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-text-fill:white;
    -fx-font:Impact;
    -fx-text-fill:black;
}

#botaoVboxChangeCollour:focused{
    -fx-background-color: grey;
}


/**/
/**/
/**/
/* TextField e TextArea */
#textFields{

    -fx-text-fill: black;
    -fx-background-color:white;
    -text-area-background:white;
    -fx-border-color:lightgray;
    -fx-control-inner-background: white;
    -fx-text-alignment: center ;



}
/**/
/*Choice Boxes dos ecrãs de alterar ulitilizadores*/
/**/
#choiceboxes{
    -fx-text-fill: black;
    -fx-background-color:white;
    -text-area-background:white;
    -fx-border-color:lightgray;
    -fx-control-inner-background: white;
    -fx-text-alignment: center ;
}